.idea
.project
.settings/
.classpath
*.iml
target
.DS_Store
*/*.pid
*.log
*.log.*
*.log.lck
postchain.pid
examples/out
_build
_doc
logs

rell/src/lib/hybridcompute
rell/build
rell/logs
example/src/lib
example/build
example/logs

build
.flattened-pom.xml
